@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face{
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}
body{
    background-color: #dddddd;
    font-family: sans-serif;
    font-size: 11pt;
}
div#interface{
    width: 1000px;
    margin: 0px auto 0px auto;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
}
p{
    text-align: justify;
    text-indent: 50px;
}
p#about{
    text-decoration: underline;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
a{
    text-decoration: none;
    color: #606060;
}
a:hover{
    text-decoration: underline;
}
header#cabecalho{
    display: block;
    position: absolute;
    top: 0px;
    font-size: 12pt;
    color: #888888;
    margin-top: 0px;
}
header#cabecalho h1{
    font-family: "FonteLogo";
    font-size: 42pt;
    position: relative;
    top: -190px;
    left: 45px;
}
header#cabecalho h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 10pt;
    position: relative;
    top: -170px;
    left: 100px;
}
header#cabecalho img#bgheader{
    position: relative;
}
header#cabecalho img#picture{
    position: relative;
    top: -320px;
    left: 820px;
}
nav#menuflutuante{
    display: block;
    font-size: 12pt;
}
nav#menuflutuante ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 600px;
}
nav#menuflutuante li{
    display: inline-block;
    background-color: #cecece;
    padding: 5px;
    margin: 2px;
    transition: background-color 1s; 
}
nav#menuflutuante li:hover{
    background-color: #ffffff;
}
section#principal{
    display: block;
    width: 1000px;
    margin-top: 200px;
}
section#aboutme, section#aboutsite{
    display: block;
    width: 950px;
    margin: 0px auto auto auto;
}
footer#rodape{
    clear: both;
    border-top: #606060 solid 1px;
}
footer#rodape p{
    text-align: center;
}